<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Binar Login Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      form {
        max-width: 500px;
        padding: 2rem;
        margin: 0 auto;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
      }
    </style>
  </head>
  <body>
    <form method="post" action="/login">
      <label for="email">Email</label>
      <input 
        type="email" 
        name="email" 
        value="" 
        placeholder="Please input your email">

      <label for="password">Password</label>
      <input 
        type="password" 
        name="password" 
        value="" 
        placeholder="Please input your password">

      <button type="submit">login</button>
    </form>
  </body>
</html>
